@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: local("Roboto"), url(~/assets/Roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: local("Roboto"), url(~/assets/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(~/assets/Roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  font-family: "Roboto";
}
